
    <div class="col-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="firstName" name="firstName" value="{{this.firstName}}" placeholder="First Name">
    <label for="floatingInput">First Name</label>
    </div>
 </div>
<div class="col-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="lastName" name="lastName" value="{{this.lastName}}"  placeholder="Last Name">
    <label for="floatingInput">Last Name</label>
    </div>
 </div>
    <div class="col-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="email" name="email" value="{{this.email}}" placeholder="Email">
    <label for="floatingInput">Email</label>
    </div>
 </div>
<div class="col-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="phone" name="phone" value="{{this.phone}}" placeholder="Phone Number">
    <label for="floatingInput">phone Number</label>
    </div>
 </div>
 <div class="col-12">
    <div class="form-floating mb-3">
    <textarea type="text" class="form-control" id="comments" name="comments" placeholder="Comments" style="height: 100px;">{{this.comments}} </textarea>
    <label for="floatingInput">Comments</label>
    </div>
 </div>
 <div class="col-12 d-grid">
    <button type="submit" class="btn btn-secondary">Submit</button>
   
 </div>